form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: #333;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
